In [270]:
import pandas as pd
import matplotlib.pyplot as plt

In [272]:
school_rank = pd.read_csv('Choose_Maryland___Compare_States_-_Education_20241010.csv')
school_rank #reading and displaying data set

,State,"Public School Student-Teacher Ratio, K-12","Public School Expenditures Per Pupil, K-12 ($ Dollars)","Average Salary for Public School Teachers, K-12 ($ Dollars)",High School Attainment (%),Bachelor's Degree Attainment (%),Graduate Degree Attainment (%),Annual College Graduates,Number of 2-Year Colleges,Number of 4-Year Colleges and Universities
0,Alabama,17.5,9257,50239,86.6,25.5,9.5,60282,30,42
1,Alaska,17,17509,69474,93.3,30.2,11.7,4051,2,6
2,Arizona,23.3,7772,47746,87.5,29.7,11.2,116243,36,42
3,Arkansas,13.8,9900,49017,87.2,23.3,8.6,31878,27,26
4,California,23.3,11420,81126,83.8,34.2,12.9,461909,172,269
5,Colorado,17.4,9618,52389,91.9,41.7,15.7,65824,31,48
6,Connecticut,12.6,19614,73113,90.9,39.6,17.8,43898,12,31
7,Delaware,14.8,14397,60484,89.8,31.3,13.1,13320,1,7
8,Florida,15.1,9175,47721,88.5,30.4,11.3,240683,60,141
9,Georgia,15.4,9835,56329,87.6,31.9,12.3,95148,46,77
10,Hawaii,15.4,13748,57866,92,33.5,11.5,13534,7,13
11,Idaho,18.3,7178,49225,90.9,27.7,9,19357,5,12
12,Illinois,15.7,14327,65776,89.5,35.1,14,168460,63,108
13,Indiana,17.4,9690,54846,89,27.1,9.8,81953,13,67
14,Iowa,14.2,11148,56790,92.3,29,9.4,54057,18,44
15,Kansas,13.7,10216,50403,91,33.8,12.8,40115,30,39
16,Kentucky,16.3,9831,52952,86.8,24.8,10.3,47968,24,43
17,Louisiana,14.8,11168,50256,85.8,24.3,8.4,39311,30,30
18,Maine,12.2,14202,51663,93,31.5,11.4,13453,10,21
19,Maryland,14.8,14522,69761,90.5,40.8,18.9,73372,21,35
20,Massachusetts,13.3,16985,79710,90.8,44.5,20.1,122365,21,95
21,Michigan,18.3,11051,62702,91.1,29.6,11.5,117323,29,65
22,Minnesota,15.4,12363,57782,93.4,36.7,12.5,84518,34,61
23,Mississippi,15.1,8692,43107,85.4,23.2,8.8,35313,20,18
24,Missouri,13.5,10384,49208,90.5,29.5,11.5,86213,35,80
25,Montana,13.9,11373,52776,93.9,31.7,11,9938,12,11
26,Nebraska,13.5,12378,53473,91.4,32.4,11.1,27016,13,28
27,Nevada,20,8753,57812,86.9,24.9,8.7,18391,9,15
28,New Hampshire,12.3,15534,57833,93.1,36.8,14.5,26634,8,17
29,New Jersey,12.2,19040,69917,90.2,40.8,16,87367,22,53
30,New Mexico,15.8,9958,47839,85.4,27.7,12,23623,22,20
31,New York,13.1,22231,83585,87.1,37.2,16.4,292685,63,238
32,North Carolina,15.5,8716,50861,88.2,31.9,11.4,112634,69,75
33,North Dakota,11.8,13358,54421,92.3,29.7,7.6,11012,5,15
34,Ohio,16.7,11933,58000,90.7,29,11.1,133940,65,120
35,Oklahoma,16.9,8090,45678,88.4,25.6,9,41085,23,36
36,Oregon,20.4,10823,63143,90.5,34,12.9,47756,20,37
37,Pennsylvania,14.1,15165,67398,91,31.8,12.7,165658,80,159
38,Rhode Island,13.3,16082,66758,89.1,34.4,14.5,19198,1,12
39,South Carolina,15.2,10045,51027,88.4,28.3,10.4,45108,31,42
40,South Dakota,13.9,9335,47944,92.3,29.2,9,10345,5,18
41,Tennessee,15.6,8876,50900,87.8,27.5,10.2,65500,34,66
42,Texas,15.2,9351,53167,84,30.3,10.7,286578,117,144
43,Utah,22.9,7006,47604,92.4,34.9,12,65196,3,29
44,Vermont,10.8,19022,58527,93.5,38.7,15.6,10322,1,22
45,Virginia,14,11434,51265,89.9,39.3,17.1,112863,44,78
46,Washington,18.7,11484,55175,91.6,36.7,13.9,77167,15,65
47,Washington D.C.,12.8,21134,76486,92.1,60.4,34.5,25748,1,18
48,West Virginia,14.1,11424,45642,87.8,21.3,8.5,30363,18,26
49,Wisconsin,14.6,11664,55895,92.1,30,10.6,61958,19,57
50,Wyoming,12.5,16431,58578,93.3,26.9,10,5679,8,2
51,Source,National Center for Education Statistics,National Center for Education Statistics,National Center for Education Statistics,U.S. Census Bureau,U.S. Census Bureau,U.S. Census Bureau,National Center for Education Statistics,National Center for Education Statistics,National Center for Education Statistics
52,Date of Data,Date of Data: Fall 2016,Date of Data: 2015-2016,Date of Data: 2017-2018,Date of Data: 2018,Date of Data: 2018,Date of Data: 2018,Date of Data: 2016-2017,Date of Data: 2017-2018,Date of Data: 2017-2018
53,Note,NaN,NaN,NaN,Percentage of the population age 25 and older ...,Percentage of the population age 25 and older ...,Percentage of the population age 25 and older ...,Earned degrees conferred by degree-granting in...,NaN,Excludes service academies.
54,Quote,"""Maryland's student-teacher ratio is well belo...","""Spending on public education in Maryland exce...","""Maryland is among the top ten states in publi...","""Maryland's workforce is among the most highly...","""Maryland ranks third among the states for bac...","""Maryland ranks second among the states in the...","""Maryland is home to world-renowned schools in...","""Maryland's community colleges offer comprehen...","""Twelve institutions of the University System ..."

In [273]:
school_rank = pd.read_csv('Choose_Maryland___Compare_States_-_Education_20241010.csv', usecols = ['State' , 'Graduate Degree Attainment (%)','Annual College Graduates'])

In [276]:
school_rank.head(20)

          State Graduate Degree Attainment (%) Annual College Graduates
0       Alabama                            9.5                    60282
1        Alaska                           11.7                     4051
2       Arizona                           11.2                   116243
3      Arkansas                            8.6                    31878
4    California                           12.9                   461909
5      Colorado                           15.7                    65824
6   Connecticut                           17.8                    43898
7      Delaware                           13.1                    13320
8       Florida                           11.3                   240683
9       Georgia                           12.3                    95148
10       Hawaii                           11.5                    13534
11        Idaho                              9                    19357
12     Illinois                             14                   168460
13      Indiana                            9.8                    81953
14         Iowa                            9.4                    54057
15       Kansas                           12.8                    40115
16     Kentucky                           10.3                    47968
17    Louisiana                            8.4                    39311
18        Maine                           11.4                    13453
19     Maryland                           18.9                    73372

In [291]:
#Ranking states by graduate degree attainment descending
school_rank.sort_values(by = [ 'Graduate Degree Attainment (%)'], ascending = False)

,State,Graduate Degree Attainment (%),Annual College Graduates
51,Source,U.S. Census Bureau,National Center for Education Statistics
53,Note,Percentage of the population age 25 and older ...,Earned degrees conferred by degree-granting in...
52,Date of Data,Date of Data: 2018,Date of Data: 2016-2017
13,Indiana,9.8,81953
0,Alabama,9.5,60282
14,Iowa,9.4,54057
11,Idaho,9,19357
40,South Dakota,9,10345
35,Oklahoma,9,41085
23,Mississippi,8.8,35313
27,Nevada,8.7,18391
3,Arkansas,8.6,31878
48,West Virginia,8.5,30363
17,Louisiana,8.4,39311
33,North Dakota,7.6,11012
47,Washington D.C.,34.5,25748
20,Massachusetts,20.1,122365
19,Maryland,18.9,73372
6,Connecticut,17.8,43898
45,Virginia,17.1,112863
31,New York,16.4,292685
29,New Jersey,16,87367
5,Colorado,15.7,65824
44,Vermont,15.6,10322
28,New Hampshire,14.5,26634
38,Rhode Island,14.5,19198
12,Illinois,14,168460
46,Washington,13.9,77167
7,Delaware,13.1,13320
4,California,12.9,461909
36,Oregon,12.9,47756
15,Kansas,12.8,40115
37,Pennsylvania,12.7,165658
22,Minnesota,12.5,84518
9,Georgia,12.3,95148
30,New Mexico,12,23623
43,Utah,12,65196
1,Alaska,11.7,4051
10,Hawaii,11.5,13534
24,Missouri,11.5,86213
21,Michigan,11.5,117323
32,North Carolina,11.4,112634
18,Maine,11.4,13453
8,Florida,11.3,240683
2,Arizona,11.2,116243
34,Ohio,11.1,133940
26,Nebraska,11.1,27016
25,Montana,11,9938
42,Texas,10.7,286578
49,Wisconsin,10.6,61958
39,South Carolina,10.4,45108
16,Kentucky,10.3,47968
41,Tennessee,10.2,65500
50,Wyoming,10,5679
54,Quote,"""Maryland ranks second among the states in the...","""Maryland is home to world-renowned schools in..."

In [295]:
#Ranking states byannual college graduates descending

school_rank.sort_values(by = [ 'Annual College Graduates'], ascending = False)

,State,Graduate Degree Attainment (%),Annual College Graduates
51,Source,U.S. Census Bureau,National Center for Education Statistics
53,Note,Percentage of the population age 25 and older ...,Earned degrees conferred by degree-granting in...
52,Date of Data,Date of Data: 2018,Date of Data: 2016-2017
25,Montana,11,9938
9,Georgia,12.3,95148
29,New Jersey,16,87367
24,Missouri,11.5,86213
22,Minnesota,12.5,84518
13,Indiana,9.8,81953
46,Washington,13.9,77167
19,Maryland,18.9,73372
5,Colorado,15.7,65824
41,Tennessee,10.2,65500
43,Utah,12,65196
49,Wisconsin,10.6,61958
0,Alabama,9.5,60282
50,Wyoming,10,5679
14,Iowa,9.4,54057
16,Kentucky,10.3,47968
36,Oregon,12.9,47756
4,California,12.9,461909
39,South Carolina,10.4,45108
6,Connecticut,17.8,43898
35,Oklahoma,9,41085
1,Alaska,11.7,4051
15,Kansas,12.8,40115
17,Louisiana,8.4,39311
23,Mississippi,8.8,35313
3,Arkansas,8.6,31878
48,West Virginia,8.5,30363
31,New York,16.4,292685
42,Texas,10.7,286578
26,Nebraska,11.1,27016
28,New Hampshire,14.5,26634
47,Washington D.C.,34.5,25748
8,Florida,11.3,240683
30,New Mexico,12,23623
11,Idaho,9,19357
38,Rhode Island,14.5,19198
27,Nevada,8.7,18391
12,Illinois,14,168460
37,Pennsylvania,12.7,165658
10,Hawaii,11.5,13534
18,Maine,11.4,13453
34,Ohio,11.1,133940
7,Delaware,13.1,13320
20,Massachusetts,20.1,122365
21,Michigan,11.5,117323
2,Arizona,11.2,116243
45,Virginia,17.1,112863
32,North Carolina,11.4,112634
33,North Dakota,7.6,11012
40,South Dakota,9,10345
44,Vermont,15.6,10322
54,Quote,"""Maryland ranks second among the states in the...","""Maryland is home to world-renowned schools in..."